.initiative-movement-and-senses-container {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-areas:
    "movement character-size"
    "initiative passive-perception";
}

.initiative-movement-and-senses-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: var(--primary-box);
  border: 2px solid var(--primary-details);
  border-radius: 8px;
  padding: 10px;
}

.proficiency-abilities-skills-and-inspiration-container {
  width: 100%;
  display: grid;
  gap: 10px;
}

.skills-with-abilities-template {
  grid-template-areas:
    "proficiencyBonus proficiencyBonus proficiencyBonus heroicInspiration"
    "strength strength strength strength"
    "dexterity dexterity dexterity dexterity"
    "constitution constitution constitution constitution"
    "intelligence intelligence intelligence intelligence"
    "wisdom wisdom wisdom wisdom"
    "charisma charisma charisma charisma";
}

.skills-apart-abilities-template {
  grid-template-areas:
    "proficiencyBonus proficiencyBonus proficiencyBonus heroicInspiration"
    "strength strength intelligence intelligence"
    "dexterity dexterity wisdom wisdom"
    "constitution constitution charisma charisma"
    "skills skills skills skills";
}

.proficiency-bonus-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: var(--primary-box);
  padding: 10px;
  border: 2px solid var(--primary-details);
}

.proficiency-value-container {
  text-align: center;
  padding: 15px 10px;
  font-size: 2.5em;
  border: 2px solid var(--text);
  border-top: 0px;
}

.heroic-inspiration-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  background-color: var(--primary-box);
  border: 2px solid var(--primary-details);
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.inspiration-title {
  background-color: var(--primary-box);
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/2;
}

.inspiration-line {
  grid-column: 1/2;
  grid-row: 2/3;
}

.inspiration-value-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border: 2px solid var(--text);
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 1/4;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.inspiration-value {
  width: 30px;
  height: 30px;
  border: 4px solid var(--text);
  grid-column: 1/2;
  grid-row: 1/2;
}

.is-inspired {
  background-color: var(--text);
}

.abilities-and-skills-container {
  width: 100%;
  display: grid;
  align-items: flex-start;
  margin: 10px 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.ability-box-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-box);
  border: 2px solid var(--text);
}

.ability-box-with-skills {
  grid-column: 1/2;
  grid-row: 1/2;
}

.ability-score-container {
  width: 100%;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  gap: 5px;
}

.ability-title {
  grid-column: 1/4;
  grid-row: 1/2;
  padding-bottom: 10px;
}

.ability-value-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.modifier-value {
  grid-row: 2/3;
  grid-column: 1/2;

  h1 {
    aspect-ratio: 1/1;
    padding: 15px;
    border: 3px solid var(--text);
    border-radius: 50%;
    background-color: var(--primary-box);
    z-index: 1;
  }

  p {
    font-size: 0.5em;
  }
}

.score-value {
  grid-row: 2/3;
  grid-column: 1/4;
  align-items: flex-end;

  h2 {
    width: 100%;
    font-size: 1.2em;
    padding: 5px;
    border: 2px solid var(--text);
    text-align: end;
  }

  p {
    font-size: 0.5em;
  }
}

.ability-saving-throw-and-class-difficulty-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-top: 1px solid var(--text);

  h3 {
    font-size: 0.6em;
  }
}

.skill-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--text);
  border-left: 0;
  background-color: var(--primary-box);
}

.skill-box-with-abilities {
  grid-column: 2/3;
  grid-row: 1/2;
}

.single-skill-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  align-items: center;
  padding: 5px;
  border-top: 1px solid var(--text);
}

.skill-proficiency-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.proficiency-circle {
  height: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--text);
}

.proficiency-check {
  height: 80%;
  grid-column: 1/3;
  grid-row: 1/3;
  background-color: var(--primary-box);
  z-index: 1;
}

.expertise-check {
  height: 60%;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: start;
  justify-self: start;
}

.no-border {
  border: 0;
}

.skills-apart-abilities-single-skill {
  padding: 10px;
  border-left: 2px solid var(--text);
  grid-template-columns: 1fr 1fr 2fr 4fr;
  
  h2, p {
    padding: 0 10px;
    text-align: start;
  }
}