.bg-color-bg {
    background-color: var(--bg);
}

.bg-color-text {
    background-color: var(--text);
}

.bg-color-primary-details {
    background-color: var(--primary-details);
}

.bg-color-primary-box {
    background-color: var(--primary-box);
}

.bg-color-secondary-details {
    background-color: var(--secondary-details);
}

.bg-color-info {
    background-color: var(--info);
}