$light-theme: (
  bg: #ffeff4,
  text: black,
  primary-details: #582d30,
  primary-box: #f8d5b5,
  secondary-box: #bbbcac,
  info: #d32430,
);

$dark-theme: (
  bg: #1e1023,
  text: white,
  primary-details: #2a304f,
  primary-box: #424059,
  secondary-box: #747443,
  info: #e02cb9,
);
