.character-info-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;

  > div {
    padding: 15px;
    background-color: var(--primary-box);
    gap: 10px;
    border: 1px solid var(--primary-details);
  }
}

.character-info-details {
  width: 100%;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "pc pc"
    "bg species"
    "class class";
}

.character-level-details {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.character-defence-container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  align-content: center;
  gap: 10px;
  grid-template-areas:
    "hp hp"
    "hit-dice vulnerabilities"
    "immunities resistances"
    "ac ac";
  grid-auto-columns: 1fr;

  > div {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-box);
    gap: 10px;
    border: 1px solid var(--primary-details);
  }
}

.hp-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 1.2em;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 3;
    padding: 5px;
  }
}

.health-bar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-content: flex-start;
  background-color: rgb(152, 3, 3);
  border: 2px solid var(--primary-details);
}

.border-bright-red {
  border: 2px solid red;
}

.current-hp-left {
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.hp-left-bar {
  background-color: rgb(0, 120, 0);
  z-index: 1;
}

.temp-bar {
  background-color: rgb(51, 73, 242);
  z-index: 2;
}

.armor-class {
  font-size: 2em;
}

.hit-dice-container {
  display: grid;
  grid-template-columns: 1fr;
}

.hit-dice-details {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 5px;
}

.hit-dice {
  h1 {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
  }

  p {
    font-size: 0.7em;
  }
}

.character-generic-info {
  h1 {
    font-size: 1.3em;
  }

  p {
    font-size: 0.7em;
  }
}
